@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');


body {
  background-color: #FFE5FE;
  display: flex;
}

canvas {
    position: absolute;
    z-index: -1
}

.card {
  display: inline-block;
  perspective: 300px;
  transform-style: preserve-3d;
  position: relative;
}

.front {
position: relative;
z-index: -1
}

.back {
position: absolute;
}

h1 {
color: #A6408B;
font-family: 'Indie Flower', cursive;
}

button {
  position: absolute;
  background-color: #A6408B;
  color: #FFE5FE;
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
  border: none;
  padding: 5px 60px;
  border-radius: 30px;
  margin-left: 550px;
  margin-top: 600px
}

#memory-board {
  padding-top: 200px;
  padding-left: 6%;
  padding-right: 1%;
  position: absolute;
}

.sound-on, .sound-off {
  margin-left: 1200px;
  margin-top: 30px;
  position: absolute;
  z-index: +1;
}