@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');


body {
  background-color: #FFE5FE;
}

canvas {
  z-index: -1
}

#game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 40px 0px;
  align-content: center;
  margin: 10px 0;
}

button {
  background-color: #A6408B;
  color: #FFE5FE;
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
  border: none;
  padding: 5px 60px;
  border-radius: 30px;
}

.sound-on,
.sound-off {
  position: relative;
  left: 550px;
  bottom: 570px;
  z-index: +1;
}

.card {
  display: inline-block;
  perspective: 300px;
  transform-style: preserve-3d;
  position: relative;
  margin: 4px;
  background-color: transparent;
  border: none;
}

.front {
  position: relative;
  z-index: -1
}

.back {
  position: absolute;
}

h1 {
  color: #A6408B;
  font-family: 'Indie Flower', cursive;
}


#memory-board {
  padding: 20% 0 5%;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: auto;
  justify-content: center;
  align-items: center;
  width: 1200px;
}